.body {
    font-family: arial;
    align-text: center;
    padding: 20px;

}

.h3 {
    font-family: Helvetica, sans-serif;
    text-color:
    padding: 10px 0px 10px;



}
.h1{
    font-family:
}


.img-logo {
    align: left;
    padding:

}

